* {
	margin:0; 
	padding:0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 1em;
	font-size: 100%;
}

.menu-list {
	padding: 10px 0;
	width:304px;
	min-width: 304px;
	border-width: 4px 4px 0 4px;
	border-width: 4px 4px 0 4px;
    border-left-style: solid;
    border-right-style: solid;
    border-image: linear-gradient(to bottom, rgb(200, 205, 210), rgba(0, 0, 0, 0)) 1 100%;
    background: linear-gradient(to bottom, rgba(200, 205, 210,1) 0%, rgba(200, 205, 210,1) 1%, rgba(240,240,240,0.4) 1.5%, rgba(240,240,240,0) 100%);

/**	background: url(../img/bg.gif) no-repeat top left; **/
	border-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0)) 1 100%;
/** 	border:2px solid #c8cdd2; **/
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	padding:10px 0;
	float: left;
	
} 

.menu-list dl {
    margin: 20px; /* add margin around entire dl  */
	width: 260px;
}

.menu-list dt {
    letter-spacing: 1px;  /* ???? */
    color: #627081; 
	 float: right;
	width: 162px;  /* width=180 causes overlapping text */
}


.menu-list dd {
    font-size: 0.875em;
    line-height: 1.6; 
    color: #666; 
}

.menu-list img {
    float:left;
	margin: 0 8px 0 0;
    padding: 4px;
    border: 1px solid #d9e0e6;
    border-bottom-color: #c8cdd2;
    border-right-color: #c8cdd2;
    background: #fff;
}

.menu-list dd + dd {
    margin: 0 0 0 98px; 
}

.menu-list dl:nth-child(even) dt {
    float:left; 
}

.menu-list dl:nth-child(even) img {
    float:right;
    margin: 0 0 0 8px; 
}

/** what is dd + dd??? */
.menu-list dl:nth-child(even) dd + dd {
    margin: 0 98px 0 0; 
}