* {
	margin:0; 
	padding:0;
    box-sizing: border-box;

}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 1em;
	font-size: 100%;
}


.menu-list {
	padding: 10px;
  
    min-width:304px; 
    border-width: 4px 4px 0 4px;
    border-left-style: solid;
    border-right-style: solid;
    border-image: linear-gradient(to bottom, rgb(200, 205, 210), rgba(0, 0, 0, 0)) 1 100%;
    background: linear-gradient(to bottom, rgba(200, 205, 210,1) 0%, rgba(200, 205, 210,1) 1%, rgba(240,240,240,0.4) 1.5%, rgba(240,240,240,0) 100%);

	
} 




.Grid {
  display: flex;
  flex-direction: column;
}

.Grid-cell {
  flex: 1;
  font-size: 0.875rem;

}

.Media {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.5rem;
  width: 100%;
  
}

.Media-figure {
  margin-right: 1rem;
  width:20%;
}

.Media-body {
   
  flex: 1;
  width: 80%;
   
  padding-right: 12px;

}
.Media-body p {
 line-height: 1.6;
}

.menu-list h {
  padding-bottom: 6px;
   letter-spacing: 1px; 
    color: #627081; 
    font-size: 100%;
}

.menu-list img {
 /* width: 100%; **/
    
    padding: 4px;
    border: 1px solid #d9e0e6;
    border-bottom-color: #c8cdd2;
    border-right-color: #c8cdd2;
    background: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}



/* With gutters */
.Grid--gutters {
  margin: -1em 0 0 -1em;
}
.Grid--gutters > .Grid-cell {
  padding: 1em 0 0 1em;
}

/* Alignment per row */
.Grid--top {
  align-items: flex-start;
}
.Grid--bottom {
  align-items: flex-end;
}
.Grid--center {
  align-items: center;
}

/* Alignment per cell */
.Grid-cell--top {
  align-self: flex-start;
}
.Grid-cell--bottom {
  align-self: flex-end;
}
.Grid-cell--center {
  align-self: center;
}

