* {
	margin:0; 
	padding:0;
    /* allows for removal of padding an margin calculations, 
    and use percentages instead */
    box-sizing: border-box; 
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 1em;
	font-size: 100%;
}

.menu-list {
	padding: 10px;
    float: left;
    min-width:304px; 
    border-width: 4px 4px 0 4px;
    border-left-style: solid;
    border-right-style: solid;
    border-image: linear-gradient(to bottom, rgb(200, 205, 210), rgba(0, 0, 0, 0)) 1 100%;
    background: linear-gradient(to bottom, rgba(200, 205, 210,1) 0%, rgba(200, 205, 210,1) 1%, rgba(240,240,240,0.4) 1.5%, rgba(240,240,240,0) 100%);

	
} 

.menu-list dl {
    float: left;
    width: 100%;
    clear: both;
    padding: 12px;
}

.menu-list dt {
   letter-spacing: 1px; 
    color: #627081; 
    float: right;
    width:80%;
    padding-bottom: 6px;
}

.menu-list dt + dd {
    width: 20%;
    padding-right: 12px;
}


.menu-list dd {
    font-size: 0.875em;
    line-height: 1.6; 
    color: #666; 
}

.menu-list img {
 width: 100%;
    float:left;
    padding: 4px;
    border: 1px solid #d9e0e6;
    border-bottom-color: #c8cdd2;
    border-right-color: #c8cdd2;
    background: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.menu-list dd + dd {
    float: right;
    width: 80%;
}
